# Ignore everything
*

# But keep these:
!.gitignore
!*.cpp
!*.h
!*.hpp

# Keep folder structure (important!)
!*/

# Explicitly ignore CMake build folders
cmake-build-*/
CMakeFiles/
CMakeCache.txt
*.cmake
build/
